@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  display: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-image: url(./images/white-noise.png);
  background-repeat: repeat;
}

/* pagetop styling */

.pagetop {
  background-image: url(./images/1f2937-noise.png);
  background-repeat: repeat;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 32px;
  padding-top: 16px;
}

.navbar ul{
  display: flex;
  list-style-type: none;
  gap: 1.2em;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  color: #c7cad0;
  font-weight: 300;
}

.navbar li, .navbar .lh {
  /* background-color: white; */
  padding: 5px;
}

.navbar li:hover, .navbar .lh:hover{
  color: #1f2937;
  background-color: white;
  border-radius: 5px;
}

.navbar .lh {
  color: white;
  font-weight: 700;
}

.navbar li:nth-child(3) {
  margin-left: auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  /* flex: 1 1 auto; */
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-left p {
  font-weight: 300;
  color: #d7dadf;
  font-size: 18px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 10px;
  max-width: 632px;
}

.hero img {
  width: 40vw;
  max-width: 360px;
  box-shadow: 1px 1px 5px #171f29, -1px -1px 5px #171f29;
  border-radius: 3px;
}

.signup {
  width: fit-content;
  padding: 1.3px 26px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 30px;
  background-color: #3882f6;
  color: white;
}

.signup:hover {
  background-color: #1f498e;
}

.signup:active {
  padding: 7px 28px;
  margin: 1px 2px;
}

/* news styling */

.news {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 32px;
  padding-bottom: 64px;
}

.news h2 {
  margin-bottom: 32px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.news img {
  border: 2px solid #3882f6;
  width: 12vw;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #c5c5c5, -1px -1px 5px #c5c5c5;
}

.news p {
  text-align: center;
}

.news-container {
  display: flex;
  gap: 4vw;
}

.news-element {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}

/* quote styling */

.quote {
  background-color: rgba(0, 0, 0, 0.074);
  padding-left: 21vw;
  padding-right: 21vw;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.quote-content {
  font-size: 24px;
  font-weight: 100;
}

.quote-guy {
  font-size: 16px;
  font-weight: 700;
  align-self: flex-end;
}

/* calling styling */

.calling {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 32px;
  padding-bottom: 32px;
}

.calling .signup {
  border: 3px solid white;
  flex: 0 0 auto;
}

.calling-box {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  padding: 3vw 5vw;
  border-radius: 20px;
  align-items: center;
}

.calling-left {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* footer styling */

footer {
  padding: 16px 0px;
  text-align: center;
  background-image: url(./images/1f2937-noise.png);
  background-repeat: repeat;
  color: white;
}
